# Style file for pre-commit code checks with clang-tidy

---
Checks:          '-*,readability-*,-readability-else-after-return,bugprone-*,-readability-magic-numbers,clang-portability-*,llvm-include-order'
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  - key:             readability-identifier-naming.ConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.TypeDefCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           2
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           "g_"
