# Firmware compilation files
*.map
*.o
# pre-processed linker script
*.gld.[0-9][0-9]
# compiled binaries
*.cof
*.elf

# MPLab files
*.mptags
*.tagsrc
*.mcw
*.mcs

# build directory
/build

# Mac OS
*.DS_Store

# CLion and Pycharm files
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

# python
**/__pycache__/
.venv/
Pipfile.lock
