#firmware compilation files
*.cof
*.map
*.o
*.mcs
*.mcw

#hex file before it is renamed
firmware.hex

# Mac OS
*.DS_Store

# CLion and Pycharm files
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

# CMake
cmake-build-*/

**/__pycache__/

**/bin/*.hex
