# Firmware compilation files
*.cof
*.map
*.o
*.mcs
*.mcw
*.gld.00
*.elf

# MPLAB X compilation files
*.o.d

# Packaged firmware release files
**/bin/*.hex

# Mac OS
*.DS_Store

# CLion and Pycharm files
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf

# CMake
cmake-build-*/

# python
**/__pycache__/
.venv/
Pipfile.lock

# generated source files
*.GENERATED.h
*.GENERATED.c

debug\.log

Power_Board/doc/
/Power_Board/build/
Power_Board/nbproject/

*.mptags
*.tagsrc

Power_Board/Makefile
Power_Board/NMakefile

Power_Board/files\.tmp\.txt
