[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
booty = {editable = true,git = "https://github.com/RoverRobotics/booty"}
coloredlogs = "*"
pygithub = "*"
gitpython = "*"
trio = "*"
intelhex = "*"

[requires]
python_version = "3.7"
